body{
    background-color: darkgray;
    margin:0;
    width: 80%;
    height: 60%;
    border-radius: 15px;
    border-color: blueviolet;
    border-width: 25px;

}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color:blue;
    text-align: center;
    

}
#formulario{

    width: 89%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    background-color:rgb(16, 2, 66);
    margin-left: 120px;

}

#lista{
    display:flex;
    flex-direction: column;
    width: 40%;
    text-transform: uppercase;
    /*align-content: center;*/
    text-align: left;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    background-color:rgb(16, 2, 66);
    margin-left: 420px; 
    margin-right: 420px;;
    border-radius: 15px;
    border-color: white
    border-width: 10px;


}

